{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Основная задача сайта-это сэкономить ваше время на придумывание блюда, которое вы хотите приготовить. 
    Здесь вы можете ввести продукты, которые у вас имеются,а сайт выдаст все возможные варианты рецептов, доступные вам.
    Также вы увидите ссылки на видео с готовкой этих блюд.
    На вкладке товары вы можете найти полезную информацию о ценах на продукты в магазинах.
    На вкладке форум, вы можете оставить свой отзыв или добавить свой рецепт!</p>

{% endblock %}
