{% extends "app/layout.html" %}
{% load static %} 
{% block content %}
<p style=" margin-top:2%;">
</p>
{% if user.is_superuser %}
<a class="btn btn-warning" href="{% url 'create' %}">Создать блог</a>
{% endif %}
{% if latest_blog %}
{% for blog in latest_blog %}
<div class="blockpost">
    <div class="blocks">
        <div class="blockimg">
            <figure>
                <a><img src="{{ blog.image.url }}" style="max-height: 200px;"></a>
            </figure>
        </div>
        <div class="block1">
            <a style="font-size: 28px;"><i>{{ blog.title }}</i></a>
            <a style="align-self:flex-start;">{{ blog.description }}</a>
            <a style="align-self:flex-end;">{{ blog.posted }}</a>
            <a style="align-self:flex-end;">Автор: {{ blog.author }}</a>
            <a style="align-self:flex-end;" href="{% url 'blog_itself' blog.id %}">Читать далее---</a>
        </div>
    </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}